@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome in Task Management Studio</h2>

<table>
    <tr>
        <th>
            Author:
        </th>
        <td>
            Jacek Spólnik
        </td>
    </tr>
    <tr>
        <th>
            Contact:
        </th>
        <td>
            jacek.spolnik@gmail.com
        </td>
    </tr>
    <tr>
        <th>
            University:
        </th>
        <td>
            AGH University of Science and Technology (<a href="http://www.agh.edu.pl">Home</a>)
        </td>
    </tr>
    <tr>
        <th>
            Thesis:
        </th>
        <td>
            The application of machine learning methods in the system supporting tasks management within an enterprise
        </td>
    </tr>    
</table>
