@{
    ViewBag.Title = "Deleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleted</h2>

<p>Task was successfully deleted.</p>

<p>
    @Html.ActionLink("Click here", "Index")
    to return to the task list.
</p>