<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TaskManagementContext" providerName="System.Data.SqlClient" connectionString="Data Source=JACEK-SKABUK24A\SQLEXPRESS;Initial Catalog=TaskManagementDb;Integrated Security=True;MultipleActiveResultSets=true" />
    <add name="TaskManagementDbEntities" connectionString="metadata=res://*/AuthenticationEntities.csdl|res://*/AuthenticationEntities.ssdl|res://*/AuthenticationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JACEK-SKABUK24A\SQLEXPRESS;initial catalog=TaskManagementDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>